<div class="c-container-700">
  <h2>New Group</h2>

  <%= render "form.html", Map.put(assigns, :action, group_path(@conn, :create)) %>

  <span><%= link "Back", to: config_path(@conn, :index), class: "c-btn c-btn--default c-btn--xs" %></span>
</div>
