.logs {
  background-color: #212121;
}
.index {
  color: #616161;
}
.logs_card {
  margin: 10px;
  text-align: left;
  color: #f5deb3;
  padding: 20px;
}
.images {
  margin: 0 auto;
}
.hide {
  display: none;
}
.log_link {
  margin: 10px;
}
.show {
  display: block;
}
